.gallery {
	display: grid;
	grid-template-rows: 600px 300px;
	grid-template-columns: 600px 300px 300px;
	max-width: 1200px;
	margin: 0 auto;

	grid-auto-columns: 100px;
	grid-auto-rows: 100px;
}

img {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.third {
	grid-column: 3 / span 3;
}

.fourth {
	grid-row: span 2;
}